.slide_07 .text-wrapper{
    color: #fff;
    text-align: left;
}
.slide_07 .text-wrapper dl{
    margin-bottom: 30px;
}
.slide_07 .text-wrapper dt{
    font-size: 24px;
    margin-bottom: 2px;
}
.slide_07 .text-wrapper dd{
    font-size: 18px;
    line-height: 26px;
    font-weight: normal;
}