.slide_01 .text-wrapper .text-ch{
     font-size: 48px;
     font-weight: bolder;
     text-shadow:5px 2px 6px #fff;
     color: #fff;
     margin: 6px auto;
}

.slide_01 .text-wrapper .text-en{
     margin: 4px auto;
     color: #fff;
     text-shadow:5px 2px 6px #fff;
}


