.banner_title{
  text-align: center;
  padding: 60px 0 40px 0;
  font-size: 24px;
  color: #999;
}
#carousel .banner {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
  }
  #carousel .banner .bd {
    width: 400%;
    height: auto;
    position: relative;
  }
  #carousel .banner .bd li {
    width: 25%;
    height: auto;
    float: left;
  }
  #carousel .banner .bd li img {
    width: 100%;
    height: auto;
  }
  #carousel .banner .hd {
    width: 60px;
    height: 10px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #carousel .banner .hd li {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #c8c8c9;
  }
  #carousel .banner .hd li:last-child {
    margin: 0;
  }
  #carousel .banner .hd li:hover {
    cursor: pointer;
  }
  #carousel .banner .hd li.active {
    background-color: #fff;
    width: 20px;
  }
  #carousel .banner .pre,
  #carousel .banner .next {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    overflow: hidden;
    left: 50%;
  }
  #carousel .banner .pre:hover,
  #carousel .banner .next:hover {
    cursor: pointer;
  }
  #carousel .banner .pre {
    margin-left: -640px;
    background: url(./arrow.png) no-repeat 0 0;
  }
  #carousel .banner .pre:hover {
    background: url(./arrow.png) no-repeat 0 -60px;
  }
  #carousel .banner .next {
    margin-left: 590px;
    background: url(./arrow.png) no-repeat -60px 0;
  }
  #carousel .banner .next:hover {
    background: url(./arrow.png) no-repeat -60px -60px;
  }