#index{
    background: #fff;
    width: 220px;
    padding: 20px 10px 40px 10px;
    margin: 0 auto;
    position: relative;
}
#index .forkMe{
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    height: 100px;
}
#index .avatar{
    display: block;
    max-width: 120px;
    padding: 2px;
    max-height: 120px;
    border-radius: 62px;
    border: 1px solid #eee;
    margin: 0 auto;
    margin-top: 14px;
}
#index .avatar:hover{
    border: 1px solid #09c7d1;
}
#index .name{
    display: block;
    text-align: center;
    font-weight: bolder;
    margin: 2px 0 4px 0;
}
#index .intro{
    text-align: center;
    font-size: 12px;
    color: #999;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}
#index .inner dt{
    text-align: center;
    padding: 18px 0 6px 0;
    font-size: 14px;
    color: #999;
    margin-bottom: 6px;
}
#index .inner dd a{
    text-align: center;
    display: block;
    padding: 2px 0;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
}

#index .effective{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 22px;
    height: 16px;
    margin: 0 auto;
    margin-top: 4px;
}
#index .effective span{
    display: block;
    height: 5px;
    width: 6px;
    background: #09c7d1;
    margin-right: 2px;
    align-self: flex-end;
}
#index .effective span:last-child{
    margin-right: 0;
    height: 2px;
}

#music{
    position: absolute;
    left: -400px ;
    top: 0;
}