#html2canvas {
	max-width: 26rem;
	margin: 0 auto;
	height: auto;
	overflow: hidden;
}

#html2canvas .btn-shot {
	background: #09c7d1;
	width: 6rem;
	height: 1.8rem;
	line-height: 1.8rem;
	text-align: center;
	font-size: .76rem;
	margin: 0 auto;
	border-radius: .8rem;
	color: #fff;
	margin-bottom: 3rem;
}

#html2canvas .hint{
	font-size: .9rem;
	text-align: left;
	margin: .8rem 0;
	color: #09c7d1;
	font-size: bolder;
	text-align: center;
}

#title{
	font-size: 1.2rem;
	text-align: center;
	margin-top: 3.6rem;
	margin-bottom: 2rem;
}

#shotarea{
	background: #1C0F20;
	width: 100%;
	height: auto;
	padding: .4rem 0;
}
#shotarea p{
	font-size: .8rem;
	text-align: center;
	color: #fff;
	font-weight: bolder;
}